* {
    font-family: '微軟正黑體';
    font-size: small;
    text-align: center;
}

button {
    color: #494949;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	border: 2px solid #00c3ff;
	display: inline-block;
	transition: all 0.4s ease 0s;
    border-radius: 3px;
}

button:hover {
	color: #ffffff;
	background: #056ed1;
	border-color: #056ed1;
	transition: all 0.4s ease 0s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.result-container > div, button {
    padding: 20px;
    min-width: 150px;
    margin: 0 10px 0 10px;
}

.table-container {
    display: flex;
    align-items: flex-start;
}
.table-container > .undrown-table   { flex: 1; }
.table-container > .drown-table     { flex: 4; }

.container > div {
    padding: 10px;
    border: 2px #ccc solid;
    border-width: 1px;
    max-height: 1200px;
}

/* table css */

table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #26a1f3;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 20px;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #0050fd;
}

.drown-table table tbody tr td:nth-of-type(odd) {
    width: 15%;
}

.drown-table table tbody tr td:nth-of-type(even) {
    width: 35%;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media (max-device-width:768px) {
    .table-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
    }
    .table-container > .undrown-table   { order: 2; width: 100%; }
    .table-container > .drown-table     { order: 1; width: 100%; }

    table {
        width: 100%;
    }
}