* {
    font-family: '微軟正黑體';
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 90%;
    height: 90%;
    margin: auto;
    gap: 10px;
}

/* LEFT CONTAINER */

.left-container {
    height: 100%;
    flex: 1 1 35%;
    flex-direction: column;
    gap: 5px;
    border-bottom: 2px solid #9d2cc0;
}

.left-container * {
    font-size: 2vh;
}

.draw-container {
    flex: 1 1 17.5%;
    gap: 5px;
}

.draw-container * {
    color: #240029;
    font-weight: bolder;
}

.draw-container > button {
    flex: 1 1 20%;
    font-size: 300%;
}

.draw-container > div {
    flex: 1 1 80%;
}

.last-drown-container {
    flex: 1 1 80%;
    flex-direction: column;
    gap: 5px;
}

.last-drown-container > div {
    color: #240029;
    font-weight: bolder;
    border: 2.5px solid #9657fc;
    border-radius: 5px;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 135%;
}

.undrown-div {
    flex: 1 1 80%;
    height: 80%;
    background-color: aliceblue;
    overflow-y: auto;
}

/* RIGHT CONTAINER */

.right-container {
    flex: 1 1 65%;
    flex-direction: column;
    height: 100%;
    border-bottom: 2px solid #9d2cc0;
}

.right-container > * {
    width: 100%;
    font-size: 2.25vh;
}

.right-container > table {
    height: 85%;
}

.right-container > button {
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

/*****************************************/
button {
    color: #240029;
    font-weight: bolder;
	background: #ffffff;
	border: 2.5px solid #9657fc;
	display: inline-block;
	transition: all 0.4s ease 0s;
    border-radius: 5px;
}

button:hover {
	color: aliceblue;
	background: #4d3491;
	border-color: #4d3491;
	transition: all 0.4s ease 0s;
}

table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 100%;
}

thead th {
    background-color: #9d2cc0;
    color: aliceblue;
    font-weight: bold;
    font-size: 115%;
}

.undrown-div th {
    font-size: 2vh;
}

tbody tr {
    border-bottom: 1px solid #fafafa;
}

tbody tr:nth-of-type(odd) {
    background-color: aliceblue;
}

tbody tr:nth-of-type(even) {
    background-color: #f9dfff;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #9d2cc0;
}

.right-container td:nth-of-type(odd) {
    width: 10%;
}

.right-container td:nth-of-type(even) {
    width: 40%;
}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
        .main-container {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }

        .left-container {
            flex: 1 1 25%;
        }

        .draw-container {
            min-height: 150px;
        }

        .right-container {
            flex: 1 1 75%;
        }

        /* .left-container {
            height: 100%;
            flex: 1 1 35%;
            flex-direction: column;
            gap: 5px;
            border-bottom: 2px solid #9d2cc0;
        } */
        
        .draw-container > button {
            flex: 1 0 20%;
            font-size: 300%;
        }
}