* {
    font-family: '微軟正黑體';
    font-size: small;
    text-align: center;
}

html, body {
    height: 100%;
}

button {
    color: #240029;
	text-transform: uppercase;
	text-decoration: none;
    font-size:large;
    font-weight: bolder;
	background: #ffffff;
	border: 2px solid #9657fc;
	display: inline-block;
	transition: all 0.4s ease 0s;
    border-radius: 3px;
    padding: 10px;
    min-width: 150px;
    margin: 0 10px 0 10px;
}

button:hover {
	color: #ffffff;
	background: #4d3491;
	border-color: #4d3491;
	transition: all 0.4s ease 0s;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    flex: 1;
    margin: 10px;
}

.btn-container {
    justify-content: center;
}

.result-container, .btn-container {
    max-height: 10%;
    margin: 5px;
}

.result-container {
    margin: auto;
    padding: 15px;
    border: 2px solid #9657fc;
    size: auto;
}  


.right-container {
    margin: 10px;
}

.right-container, .right-container > div {
    display: flex;
    align-items: flex-start;
    flex: 4;
    height: 100%;
}

.container > div {
    width: 100%;
}

.right-container > div {
    height: 100%;
}

/* table css */

table {
    border-collapse: collapse;
    font-size: small;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #9d2cc0;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.drown-table table {
    height: 95%;
}

.drown-table table tbody tr,
.undrown-table table tbody tr {
    border-bottom: 1px solid #fafafa;
}

.drown-table table td {
    font-size: large;
    height: 5.5%;
}

.undrown-table table tbody tr td {
    font-size: smaller;
    height: 0.7em;
}

table tbody tr:nth-of-type(even) {
    background-color: #f9dfff;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #9d2cc0;
}

.drown-table table tbody tr td:nth-of-type(odd) {
    width: 15%;
}

.drown-table table tbody tr td:nth-of-type(even) {
    width: 35%;
}

@media (max-device-width:768px) {
    .main-container {
        flex-direction: column;
    }
    .right-container {
        order: 1;
        flex: 1;
    }
    .left-container {
        order: 2;
        flex: 1;
    }
}